body {
  font-family: monospace;
  background: #f7f7f7;
}

img {
  width: 400px;
  height: auto;
  border: 10px solid #eee;
  outline: 2px solid #000;
}

.ingredients {
  background: #f1cbf1;
  width: fit-content;
  height: auto;
  padding: 1px 30px 10px 20px;
  margin-left: 50px;
}

.steps,
.desc {
  width: 50%;
  height: auto;
  text-align: justify;
}

.steps li {
  margin: 10px 0;
}